.tabs {
  display: inherit;

  @media (width <= 1500px) {
    width: 100%;
    display: inherit;
    justify-content: center;
  }

  @media (width <= 1150px) {
    display: none;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
