.academic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 0 100px;
}

    .academic .list {
        display: flex;
        justify-content: space-evenly;
        padding: 100px 0;
        width: 100%;
    }

    .academic .item {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
        gap: 5px;
    }

    .academic h2 {
        font-weight: 700;
    }

    .academic h3 {
        font-weight: 500;
    }

    .academic h4 {
        font-weight: 300;
    }

    .academic img {
        height: 200px;
        width: 200px;
        border-radius: 100%;
    }

@media screen and (max-width: 1150px) {
    /* Academic */
    .academic {
        padding: 100px 5%;
    }
    
        .academic .list {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 100px;
        }
    
        .academic .item {
            width: 100%;
        }
}
