.languages {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.competence-list {
    width: 100%;
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

    .competence-list .item {
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .competence-list .item .advanced {
        width: 100%;
    }     

    .competence-list .item .intermediary {
        width: 75%;
    }      

    .competence-list .item .basic {
        width: 50%;
    }       

    .competence-list .item .beginner {
        width: 25%;
    } 

    .competence-list h2 {
        text-align: center;
        font-weight: 500;
    }

    .competence-list .level {
        background-color: var(--fourth-color);
        align-items: start;
        color: var(--primary-color);
        line-height: 40px;
        text-align: end;
        font-weight: 700;
        padding: 0 20px;
        translate: -20px;
    }

@media screen and (max-width: 1150px) {
    /* Languages */
    .languages {
        width: 100%;
    }

    /* Competence List */
    .competence-list .item {
        margin: 0 10%;
    }

    .competence-list h2 {
        font-size: 20px;
    }
}
